html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

:root {
  --top-color: #224099;
  --basic-background-color: #f1f1f2;
  --select-btn-color: #A2D9DA;
  --dark-pink-color: #6F2C90;
  --light-pink-color: #9F66A9;
}
