.container {
  background-color: var(--basic-background-color);
}

.section {
  display: grid;
  grid-template-columns: 1fr max(1000px) 1fr;
}

.bkgImgBlue {
  background-image: url(/bg_top_header.svg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

.bkgImgBlueInverted {
  background-image: url(/bg_top_header_inverted.svg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;;
}

.navbar {
  padding: 0 40px;
  grid-area: navbar;
  height: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 10px;
  z-index: 2;
  text-align: center;
}

.mainContent {
  grid-area: main-content;
  display: flex;
}

.centerContent {
  display: grid;
  min-height: 800px;
  grid-template-rows: 120px 1fr;
  grid-template-areas: "navbar" "main-content";
}

.centerContentInverted {
  display: grid;
  grid-template-rows: 1fr 120px 80px;
  grid-template-areas: "main-content" "navbar";
}
.leftStyleBackground {
  border-bottom-left-radius: 350px;
}

.rightStyleBackground {
  border-bottom-right-radius: 350px;
}

.leftPinkStyleBackground {
  border-top-left-radius: 350px;
}

.rightPinkStyleBackground {
  border-top-right-radius: 350px;
}

.leftRoundLightPink {
  border-top-left-radius: 350px;
  border-bottom-left-radius: 350px;
}

.rightRoundLightPink {
  border-top-right-radius: 350px;
  border-bottom-right-radius: 350px;
}

.upperMainContent {
  height: 680px;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upperMainContent::after {
  content: '';
}

div.upperMainContent p {
  color: white;
}

.logoProps {
  height: 60px;
}

.langIcoProps {
  height: 50px;
  margin: 0 7px;
  width: 50px;
}

.navBtnsContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.fnxBtn {
  width: 9em;
  height: 3em;
  text-decoration: none;
  color: white;
  border: none;
  background-color: var(--top-color);
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  border-radius: 30px;
  margin: 0 4px;
  max-width: 100%;
}

.fnxWhiteBtn {
  color: var(--dark-pink-color);
  background-color: white;
}

.fnxPinkBtn {
  background-color: var(--light-pink-color);
  color: white;
}

.fnxBtn:hover {
  font-weight: bold;
  background-color: var(--select-btn-color);
  border-radius: 30px;
  color: var(--top-color);
}

.appBtn {
  height: 120px;
  position: absolute;
  width: 150px;
  display: inline-block;
  right: -33px;
  z-index: -1;
  background-color: white;
}

.compName {
  color: white;
  font-weight: bold;
  font-size: 7em;
  margin-bottom: 0;
}

.middleSection {
  background-image: url(/capsule_purplelight.svg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  min-height: 714px;
}

.middleSectionContent {
  display: flex;
  flex-direction: column;
}

.leftLightPinkStyleBackground {
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 350px;
}

.rightLightPinkStyleBackground {
  height: 50%;
  width: 100%;
  border-bottom-right-radius: 350px;
}

.halfMiddleSection {
  height: 50%;
  display: inherit;
  padding: 70px 40px 20px 40px;
}

.halfMiddleOneThird {
  width: calc(100% / 3);
}

.halfMiddleTwoThird {
  width: calc(100% * 2 / 3);
  border: 1px solid white;
}

.imageContainer {
  display: flex;
}

.imageBox {
  width: 50%;
  height: 215px;
  background-color: white;
  border-radius: 25px;
}

.textBox {
  width: 50%;
  align-self: flex-end;
  padding-left: 10px;
  color: white;
  font-size: 3em;
}

.biggerText {
  font-size: 2em;
  font-weight: 800;
}

.thirdSection {
  height: 1600px;
  background-image: url(/capsule_bluelight.svg), url(/capsule_purple.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top 33% center, top 75% center;
}

.thirdSectionContent {
  display: flex;
  flex-direction: column;
}

.leftThirdSection {
  display: flex;
  flex-direction: column;
}

.rightThirdSection {
  display: flex;
  flex-direction: column;
}

.leftThirdOuterSection {
  height: 75%;
  border-top-left-radius: 350px;
  border-bottom-left-radius: 350px;
}

.rightThirdOuterSection {
  height: 75%;
  border-top-right-radius: 350px;
  border-bottom-right-radius: 350px;
}

.leftThirdInnerSection {
  height: 60%;
  border-top-left-radius: 350px;
  border-bottom-left-radius: 350px;
}

.rightThirdInnerSection {
  height: 60%;
  border-top-right-radius: 350px;
  border-bottom-right-radius: 350px;
}

.picBoxContainer {
  display: flex;
  height: 40%;
  width: 100%;
  padding-top: 200px;
}

.picBox {
  width: 33%;
  margin-right: 15px;
  border-radius: 40px;
  background-color: var(--dark-gray-color);
  position: relative;
  display: flex;
}

.innerPicBox {
  height: 36%;
  padding: 25px 45px;
  align-self: flex-end;
  border-radius: 40px;
  background-color: white;
}

.innerBoxTitle {
  color: var(--dark-pink-color);
  font-size: 20px;
  font-weight: bold;
}

.picSliderContainer {
  height: 30%;
  padding: 60px 0;
}

.picSliderTextBox {
  width: 100%;
  height: 30%;
  padding: 0 70px;
  display: flex;
}

.picSliderTextHeader {
  color: white;
  font-size: 3em;
  font-weight: 900;
  margin: 0;
}

.picSliderTextContent {
  margin: 0;
  color: white;
}

.picSlider {
  width: 100%;
  height: 70%;
  padding: 0 40px;
  display: flex;
  position: relative;
}

.picSliderBox {
  width: 15em;
  height: 15em;
  background-color: white;
  margin: 0 30px;
  border-radius: 5px;
}

div.picSliderBox:first-of-type {
  margin-left: 0;
}

div.picSliderBox:last-of-type {
  margin-right: 0;
}

.leftUpperStyleBackground {
  border-top-left-radius: 350px;
}

.rightUpperStyleBackground {
  border-top-right-radius: 350px;
}

.userPicIcon {
  width: 50px;
  display: inline-block;
  height: 50px;
  margin: 5px;
  border-radius: 25px;
  background-color: var(--basic-background-color);
}

span.userPicIcon:first-of-type {
  margin-left: 0;
}

.subscribeInput {
  text-decoration: none;
  outline: none;
  width: 265px;
  height: 40px;
  border: none;
  border-radius: 25px;
  padding: 0 20px;
}

.subscribeBtn {
  position: absolute;
  right: 5px;
  top: -3px;
  width: 30px;
  color: white;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  background-color: var(--light-pink-color);
  height: 30px;
}
